.search_section_banner {
    font-weight: 500;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 22px;
    width: 60vw;
    border: 0;
    border-radius: 6px;
    border-bottom: 1px solid #fefefe;
}

.search_icon_span {
    margin-left: -35px;
    font-size: 20px;
}