#sms_info_top {
    height: 30px;
    border-bottom: 1px solid #fefefe;
    transition: all 0.5s;
}

.sms_container {
    width: 79%;
    margin: auto;
}

.sms_top_float {
    float: right;
}

.mright20 {
    margin-right: 20px;
    font-weight: 500;
}

.auth_link {
    font-weight: 500;
}